* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-wrap {
  background-color: #7f279c;
  padding: 1.5rem 1.5rem 3rem;
}

.contact-wrap .title {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 1.4rem;
}
